html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(42, 42, 42);
}

.container {
  border: 4px solid #1f1f1f;
}

.display {
  position: relative;
  width: 400px;
  height: 160px;
  background-color: #1f1f1f;
  color: white;
  overflow-x: hidden;
}

.result {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  font-size: 40px;
}

.operation {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  font-size: 20px;
}

.buttons {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  width: 100px;
  height: 80px;
  border: 2px solid #1f1f1f;
  background-color: #060606;
  color: white;
}

button:hover {
  background-color: #484848;
}

button:active {
  background-color: #626262;
}

button:focus {
  outline: none;
}
.number {
  font-size: 18px;
  font-weight: bold;
}

.sign,
.comma {
  font-size: 18px;
  font-weight: bold;
}

.op {
  background-color: #131313;
  font-size: 16px;
}

#minus,
#plus,
#divide,
#multiply,
#equal {
  font-size: 25px;
}

#equal {
  background-color: #194419;
}

#equal:hover {
  background-color: #117211;
}

#equal:active {
  background-color: #148b14;
}
